@import "tailwindcss";
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02em; 
    line-height: 1.2;
  }
  h1, h2, h3, h4 {
    font-weight: 600; 
  }
  body {
    font-weight: 400;
  }
}